* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.new {
  float: left;
  margin-left: 2%;
}
.wrapper {
  width: 100%;
}

/* dark mode */
.black {
  background-color: rgb(29, 26, 26);
}
.traspratecolor {
  background-color: rgba(226, 0, 0, 0.95);
}
/* dark mode end */
.poster {
  width: 100%;
  height: 99vh;
  background-image: url(https://cdn.pixabay.com/photo/2018/07/31/14/09/young-people-3575167_960_720.jpg);
  background-size: 100% 99vh;
  background-repeat: no-repeat;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.sub-poster {
  width: 100%;
  height: 99vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
}
.nav-left {
  width: 40%;
  height: 100px;
}
.nav-right {
  width: 60%;
  height: 100px;
  padding: 3% 0 0 15%;
}

.fa-adjust {
  color: white;
  font-size: 1.3rem;
  padding-left: 5%;
  cursor: pointer;
}

/*  */
.dropDn-home {
  width: 9%;
  height: 26vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 9.6%;
  left: 53.3%;
  display: none;
}

.dropDn-home p {
  color: white;
  margin-top: 3%;
  padding: 2%;
  text-align: center;
  font-family: sans-serif;
}
.dropDn-home p:hover {
  color: tomato;
  cursor: pointer;
}

.dropDn-about {
  width: 9%;
  height: 26vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 9.6%;
  left: 59.2%;
  display: none;
}
.dropDn-about p {
  color: white;
  margin-top: 3%;
  padding: 2%;
  text-align: center;
  font-family: sans-serif;
}
.dropDn-about p:hover {
  color: tomato;
  cursor: pointer;
}

.dropDn-contact {
  width: 9%;
  height: 26vhpx;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 9.6%;
  left: 66.1%;
  display: none;
}
.dropDn-contact p {
  color: white;
  margin-top: 3%;
  padding: 2%;
  text-align: center;
  font-family: sans-serif;
}
.dropDn-contact p:hover {
  color: tomato;
  cursor: pointer;
}
/*  */
.nav-right a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 2%;
}
.nav-right a:hover {
  color: tomato;
}
#home {
  color: tomato;
}
.logo {
  border: 2px solid white;
  width: 80px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
  padding: 1% 0 0 0;
  margin: 4% 0 0 15%;
}
.logo-content {
  color: white;
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
  padding: 1% 0 0 0;
  margin: 4% 0 0 0;
}
.button1 {
  position: absolute;
  width: 120px;
  padding: 10px;
  top: 250px;
  text-align: center;
  background-color: rgb(0, 153, 107);
  left: 260px;
}
.button1:hover {
  border: 1px solid white;
}
.button1 a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.button2 {
  position: absolute;
  border: 1px solid white;
  width: 180px;
  padding: 10px;
  top: 250px;
  left: 400px;
  text-align: center;
}
.button2 a {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.main-content {
  width: 800px;
  height: 300px;
  position: absolute;
  top: 350px;
  left: 260px;
}
.main-content h1 {
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 500;
}
.main-content p {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 20px;
  margin: 3% 0 0 0;
}
.main-content span {
  color: tomato;
}
.read-more {
  background-color: tomato;
  padding: 10px;
  width: 160px;
  border-radius: 7px;
  position: absolute;
  top: 220px;
}
.read-more a {
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding-left: 10%;
}
.read-more:hover {
  background-color: blue;
  transition: 1s;
}

.slider {
  width: 200px;
  position: absolute;
  top: 650px;
  left: 720px;
}
.sub-slied {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  float: left;
  margin: 1%;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  text-align: center;
  padding-top: 0.3%;
  color: white;
  position: absolute;
  border: 2px solid white;
}
.p1 {
  top: 420px;
  left: 100px;
}
.p2 {
  top: 420px;
  right: 100px;
}

.social_media {
  width: 40px;
  height: 250px;
  display: block;
  position: fixed;
  top: 260px;
  right: 1px;
}
.social {
  display: block;
  font-size: 20px;
  padding: 10px;
  margin: 14% 0 0 0;
  position: absolute;

  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgba(36, 31, 31, 0.9);
  border-radius: 20px 0 0 20px;
}
.social:hover {
  color: tomato;
}
.pp1 {
  top: 0;
  width: 100%;
}
.pp2 {
  top: 50px;
  right: 0;
}
.pp3 {
  top: 100px;
  right: 0;
}
.pp4 {
  top: 150px;
  right: 0;
}
.pp5 {
  top: 200px;
  right: 0;
}

.about {
  height: 96vh;
  margin: 3% 6%;
  box-shadow: 0 0 1px tomato;
}
.aboutshadow {
  box-shadow: 0 0 1px white;
}
.col-8 {
  width: 21%;
  height: 310px;
  float: left;
  margin: 2%;
}
.bg0 {
  background-image: url(/src/rrr.jpg);
  background-size: 100% 310px;
}
.bg1 {
  background-image: url(/src/ddd.jpg);
  background-size: 100% 310px;
}
.bg2 {
  background-image: url(/src/eee.jpg);
  background-size: 100% 310px;
}
.bg3 {
  background-image: url(/src/fff.jpg);
  background-size: 100% 310px;
}
.bg4 {
  background-image: url(/src/aaa.jpg);
  background-size: 100% 310px;
}
.bg5 {
  background-image: url(/src/rrr.jpg);
  background-size: 100% 310px;
}
.bg6 {
  background-image: url(/src/sss.jpg);
  background-size: 100% 310px;
}
.bg7 {
  background-image: url(/src/vvv.jpg);
  background-size: 100% 310px;
}

.opacity {
  width: 100%;
  padding: 13px 13px 0 13px;
  height: 310px;
  background-color: rgba(0, 0, 0, 0.6);
}
.news {
  width: 37%;
  padding: 3px;
  background-color: rgb(0, 153, 107);
  font-family: "Cairo", sans-serif;
  color: white;
  text-align: center;
  display: inline-block;
  margin-left: 4%;
}
.date {
  border: 2px solid white;
  width: 47%;
  padding: 2px;
  float: right;
  font-family: "Cairo", sans-serif;
  text-align: center;
  color: white;
}
.info {
  height: 200px;
  margin: 5%;
  font-family: "Cairo", sans-serif;
  color: white;
  font-size: 2rem;
  line-height: 39px;
}
.like {
  width: 100%;
  height: 36px;
  font-family: "Cairo", sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
}
.like p {
  color: white;
  display: inline-block;
}
.fa-envelope {
  padding: 10px;
  color: rgb(0, 153, 107);
}
.fa-heart-o {
  padding: 10px 0 10px 15px;
  color: rgb(0, 153, 107);
}

/* part 3 */

.news_update {
  background-color: tomato;
  margin: 0 6% 0 6%;
}
.breking_news {
  width: 17%;
  background-color: black;
  border-radius: 0 0 100px 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  padding: 13px;
  display: inline-block;
}
.marque {
  float: right;
  width: 76%;
  margin: 1% 7% 0 0;
  color: black;
  font-size: 21px;
  font-family: sans-serif;
}

/* part 3 end */

/* part 4 start here */
.updates {
  height: 107vh;
  margin: 3% 6% 0 6%;
}

.left {
  width: 70%;
  height: 600px;
  float: left;
  background-image: url(/src/man-791049.jpg);
  background-size: 100% 600px;
  position: relative;
}
.right {
  width: 27%;
  height: 630px;
  float: right;
}
.col-1 {
  width: 60%;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: white;
  position: absolute;
  top: 460px;
  left: 100px;
}
.fa-caret-square-o-right {
  color: white;
  font-size: 3rem;
  padding-right: 4%;
}
.time {
  width: 50%;

  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 550px;
  left: 450px;
  font-size: 1.3rem;
  color: white;
}
.a {
  color: white;
  padding: 2%;
}
.b {
  color: tomato;
  padding: 2%;
}
.c {
  color: rgb(0, 153, 107);
  padding: 2%;
}

.r-top {
  background-color: black;
  width: 100%;
  text-align: center;
}
.row-2 {
  color: white;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  width: 45%;
}
.clor {
  background-color: rgb(0, 153, 107);
}
.row-5 {
  width: 100%;
  height: 140px;
  box-shadow: 0 0 1px;
  padding: 20px;
  background-color: rgb(245, 240, 240);
}
.n-img {
  width: 120px;
  height: 100px;
  border: 1px dotted rgb(19, 17, 17);
  padding: 1%;
  display: inline-block;
  background-color: rgb(255, 255, 255);
}
.bgimg {
  width: 100%;
  height: 90px;
}
.l-slide {
  width: 100%;
  position: absolute;
  height: 150px;
  background-color: rgb(245, 240, 240);
  top: 630px;
  box-shadow: 0 0 1px black;
}
.n-slide {
  width: 31.3%;
  height: 130px;
  background-color: rgb(245, 236, 236);
  float: left;
  margin: 1%;
  background-color: rgb(73, 177, 154);
}
.img-dot {
  border: 1px dotted rgb(0, 0, 0);
  width: 42.2%;
  margin: 3%;
  float: left;
  background-color: white;
}
.img-col3 {
  width: 110px;
  height: 97px;
  margin: 5%;
}
.n-content {
  width: 60%;
  height: 96px;
  float: right;
}
.heading-time {
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 153, 107);
  margin: 3%;
  font-size: 0.8rem;
  font-weight: 600;
}
.heading-time span {
  color: rgb(124, 119, 119);
  margin-left: 6%;
  font-weight: 400;
}
.n-info {
  font-family: "Montserrat", sans-serif;
  color: black;
  margin: 3%;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
}
.n-right {
  width: 41%;
  height: 90px;

  float: right;
  margin: 5%;
}
.n-row-1 {
  margin: 1%;
  font-family: sans-serif;
}
.n-row-2 {
  margin: 1%;
  font-family: sans-serif;
  padding-top: 9%;
}
.n-row-2 span {
  color: green;
}
.fa-play-circle-o {
  color: white;
  font-size: 1.6rem;
  padding: 38%;
}
/* part 4 end here */

/* part five start here */
.main {
  background-color: rgb(225, 224, 238);
  margin: 0 6% 0 6%;
  clear: both;
  height: 74vh;
}
.mainbg-black {
  background-color: rgb(14, 12, 12);
}
.fa-angle-down {
  color: tomato;
  font-size: 3.4rem;
  padding-left: 49%;
}
.fa-angle-down:hover {
  color: teal;
  cursor: pointer;
}
.m-nav {
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: 88%;
  display: none;
  text-align: center;
  clear: both;
}
.m-nav ul {
  padding: 18px;
}
.m-nav ul li {
  color: rgb(255, 255, 255);
  list-style: none;
  display: inline;
  padding: 18px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: sans-serif;
  cursor: pointer;
}
.m-nav ul li:hover {
  color: tomato;
  transition: 0.7s;
}
.cardds {
  display: none;
}

.col3-card0 {
  width: 31.3%;
  height: 450px;
  float: left;
  margin: 5% 1% 1% 1%;
  clear: both;
}
.col3-card1 {
  width: 31.3%;
  height: 450px;
  float: left;
  margin: 5% 1% 1% 1%;
}
.col3-card2 {
  width: 31.3%;
  height: 450px;
  float: left;
  margin: 5% 1% 1% 1%;
}
.wrapper-img {
  width: 80%;
  box-shadow: 0 0 1px black;
  background-color: white;
  padding: 10px;
  margin: 0 0 0 9%;
}
.wrapper-img p {
  padding-right: 37%;
  display: inline;
  font-family: sans-serif;
  font-weight: 600;
}
.wrapper-img span {
  text-align: right;
  display: inline;
  color: red;
  font-family: sans-serif;
}

.card-img {
  border: 10px solid white;
  width: 300px;
  height: 350px;
  margin: auto;
  margin-top: 1%;
}

.bak-img0 {
  background-image: url(/src/g1.jpg);
  background-size: 100% 350px;
  background-repeat: no-repeat;
}
.bak-img1 {
  background-image: url(/src/g2.jpg);
  background-size: 100% 350px;
  background-repeat: no-repeat;
}
.bak-img2 {
  background-image: url(/src/g3.jpg);
  background-size: 100% 350px;
  background-repeat: no-repeat;
}
.like-dis {
  width: 72%;
  margin: 0 14.5% 0 14%;
  padding: 10px;
  font-family: sans-serif;
}
.fa-thumbs-up {
  padding-right: 13%;
  font-size: 1.4rem;
}
.fa-commenting {
  padding-right: 13%;
}
.fa-thumbs-down {
  font-size: 1.4rem;
}

.like-dis,
.like-dis:hover {
  cursor: pointer;
}

.blog-ch {
  width: 100%;
  clear: both;
  height: 350px;
  background-color: purple;
  margin-top: 4.5%;
  padding: 2%;
  color: white;
  display: none;
}
.blog-ch h1,
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  line-height: 35px;
}
.bp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  line-height: 35px;
}
.blog-ch h1 {
  text-shadow: 0 0 9px black;
}

/* part five end  here */

/* part-6 css */
.infor {
  clear: both;
  height: 147vh;
  margin: 0 6% 0 6%;
}
.icol-8 {
  width: 23%;
  height: 70vh;
  margin: 1%;
  float: left;
  position: relative;
}
.iimage {
  width: 100%;
  height: 31vh;
  text-align: center;
}
.iimage p {
  color: white;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  padding: 10%;
}
.icol-8 h3 {
  font-family: sans-serif;
  padding: 4%;
  font-weight: 500;
  font-size: 1rem;
}
.icol-8-h3 {
  color: white;
}
.icol-8 h3:hover {
  cursor: pointer;
  color: tomato;
  transition: 0.5s;
}
.icol-8 h2 {
  color: rgb(0, 167, 117);
  font-size: 1rem;
  padding: 2%;
  font-family: "Montserrat", sans-serif;
}
.icol-8 h2:hover {
  color: gray;
  cursor: pointer;
}

.tringle {
  width: 40px;
  height: 40px;
  background-color: tomato;
  position: absolute;
  top: -2%;
  left: 9%;
  clip-path: polygon(80% 21%, 1% 21%, 33% 79%);
  display: none;
}
#trin4,
#trin5,
#trin6,
#trin7 {
  background-color: rgb(0, 167, 117);
}
#clr0,
#clr1,
#clr2,
#clr3 {
  border-top: 10px solid tomato;
}
#clr4,
#clr5,
#clr6,
#clr7 {
  border-top: 10px solid rgb(0, 167, 117);
}

/* part-6 css end */

/* part 7 csss */
.fl {
  float: left;
}
.fr {
  float: right;
}
.new {
  float: left;
}
.contener {
  height: 120vh;
  margin: 2% 7% 1% 7%;
}

.sub-left {
  float: left;
  width: 67%;
  height: 100vh;
}
.sub-right {
  float: right;
  width: 30%;
  height: 100vh;
}
.latest-n-event {
  width: 100%;
  background-color: black;
  color: white;
  padding: 2%;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.sub-fl {
  width: 70%;
  background-color: black;
  color: white;
  padding: 4.5%;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.sub-fr {
  width: 30%;
  background-color: rgb(0, 167, 117);
  color: white;
  padding: 4.7% 1%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.sub-fr:hover {
  background-color: tomato;
}

.new-infos {
  width: 100%;
  height: 25vh;
}
.new-infoscolor {
  color: white;
}
.new-fl {
  width: 30%;
}

.new-fr {
  width: 68%;
}
.img-border {
  border: 3px dotted white;
  margin: 5%;
  height: 21.5vh;
}
.news-img {
  height: 20vh;
  margin: 1%;
}
#hr {
  width: 100%;
}
.new-fr h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding: 3% 0 0 2%;
}
.new-fr h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 1% 0 0 2%;
}
#nm {
  color: rgb(0, 167, 117);
  padding-right: 1%;
  text-transform: uppercase;
}
#dat {
  color: rgb(150, 150, 150);
  padding-left: 1%;
}
.new-fr p {
  padding: 2%;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.wether {
  width: 100%;
  margin-top: 18%;
  background-color: rgb(245, 244, 244);
}
.whether-col3 {
  width: 33%;
  float: left;
  margin: 0.1%;
  height: 30vh;
  box-shadow: 0 0 2px;
  text-align: center;
}
.whether-col3 h1 {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 0.9rem;
  padding: 8%;
}
.fa-cloud-moon-rain {
  font-size: 5rem;
  padding-top: 8%;
}
.whether-col3 p {
  font-size: 2rem;
  padding-top: 15%;
}
.fa-moon {
  font-size: 5rem;
  padding-top: 8%;
}
.fa-sun {
  font-size: 5rem;
  padding-top: 8%;
}

.dot-border {
  width: 100%;
  height: 1vh;
  border: 5px dotted deeppink;
  margin-top: 85%;
  border-radius: 0 50% 0 0;
  clear: both;
}
.form {
  width: 100%;
  height: 35vh;
  background-color: rgb(245, 239, 239);
  margin-top: 2%;
}
.formbg {
  background-color: rgb(46, 44, 44);
  color: white;
}
.form h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  padding: 2%;
}
.form p {
  font-family: sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 2%;
}
#email {
  font-family: sans-serif;
  font-size: 0.9rem;
  padding: 4%;
  margin: 5%;
  width: 90%;
  text-align: center;
  border: none;
}
#submit {
  padding: 2.5%;
  width: 30%;
  border-radius: 10px;
  border: none;
  margin-left: 5%;
  font-family: sans-serif;
  background-color: rgb(0, 167, 117);
  letter-spacing: 2px;
}
#submit:hover {
  background-color: tomato;
  color: white;
  transition: 1s;
}
.dot-border1 {
  width: 100%;
  height: 1vh;
  border: 5px dotted deeppink;
  margin-top: 4%;
  border-radius: 0 50% 0 0;
  clear: both;
}

.story0fweak {
  width: 100%;
  margin-top: 1%;
  box-shadow: 0 0 1px gray;
  background-color: rgb(228, 222, 222);
}
.story0fweakdark {
  background-color: rgb(46, 44, 44);
  color: white;
}
.storyimg {
  width: 100%;
  height: 200px;
  background-image: url(/src/nature-2576652.jpg);
  background-size: 100% 200px;
}
.story0fweak p {
  font-family: sans-serif;
  font-size: 0.7rem;
  color: rgb(70, 70, 70);
  padding: 3%;
}
.story0fweak h2 {
  font-family: sans-serif;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  line-height: 1.5rem;
}
/* part 7 css end */

/* footer */
.footer {
  margin-top: 1.5%;
  width: 100%;
}
.footer-header {
  width: 100%;
  background-color: rgb(36, 33, 33);
  clear: both;
}

.footer-header img {
  width: 40px;
  height: 40px;
  float: left;
  margin: 0.5%;
}
.footer-header h1 {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 400;
  padding: 1.3%;
}
.footer-header h1 span {
  color: green;
  padding-left: 1.2%;
  display: inline-block;
}
.footer-body {
  width: 100%;
  height: 68vh;
  background-color: rgb(15, 15, 15);
}
.footercol {
  margin: 0 7.5% 0 7.5%;
}
.footer-col3 {
  float: left;
  width: 31.3%;
  height: 55vh;
  margin: 1%;
  padding: 2%;
}
.footer-col3 h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding-top: 5%;
}
.fa-twitter-square {
  color: rgb(180, 166, 166);
  padding-top: 10%;
  font-size: 1.8rem;
}
.foter-cont {
  color: rgb(255, 254, 254);
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding-left: 3%;
}
#link {
  font-size: 0.6rem;
  color: green;
}
#ro2 {
  color: green;
}
#time {
  color: rgb(129, 122, 122);
  display: block;
  padding: 1%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
}
.frm {
  width: 90%;
  padding: 2.7%;
  margin-top: 5%;
  font-family: "Montserrat", sans-serif;
  color: gray;
  background-color: black;
}
#msg {
  width: 90%;
  margin-top: 5%;
  font-family: "Montserrat", sans-serif;
  color: gray;
  padding: 2%;
  background-color: black;
}
.submit {
  background-color: rgb(0, 167, 117);
  width: 35%;
  padding: 2%;
  margin-top: 6%;
  border: none;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.submit:hover {
  background-color: tomato;
  transition: 0.5s;
}
.footer-content {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  color: rgb(187, 179, 179);
  padding-top: 7%;
}
.copyright {
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  padding: 2% 0 0 0;
  color: wheat;
}
.fa-whatsapp-square {
  font-size: 2rem;
  color: white;
  padding-left: 52%;
}
.fa-google-plus-square {
  font-size: 2rem;
  color: white;
  padding-left: 2%;
}
.fa-pinterest-square {
  font-size: 2rem;
  color: white;
  padding-left: 2%;
}
